/*Give the body element of the site a background using HEX code*/
body{
  background-color: #C8FAF5;
}

/* Change the h1 to have a 1px solid black border */
h1{
  border: 1px solid black;
}

/* Make all h2 elements the color purple*/
h2{
  color: purple
}

/* Make all input boxes have a 2px solid dark red border (use rgb for this) */
input{
  border: 2px solid rgb(148, 21, 21)
}

/* Give a light yellow background to all <p> elements inside of a <div> element
Use HEX for the color*/
div p{
  background: lightyellow;
}

/* There is a textarea element with the id=textblock, give it the following properties:
* A 5px solid gray border
* A width of 800px and a height of 400px
 */
#textblock{
  border: 5px solid gray;
  width: 800px;
  height: 400px;
}

/* There is a link to Google on the page. Make this link red.*/
li a[href="http://www.bing.com"]{
  color:red;

}

/* Make elements with the id="itemone" have an overline text-decoration.
and be the color purple.*/
#itemone{
  text-decoration: overline;
  color: purple;
}

/* Make the elements with the class label "exit" have
a background of blue and a 4px dashed yellow border.*/
.exit{
  background-color: blue;
  border: 4px yellow dashed;
}

/* There is a link to Google on the page in the list.
Can you figure out how to change the color if you click on the link?
(Hint: Google "css visited") */
li a:visited {
  color: Green;
}
